#
# Customize Transmission's config
#
# Identify this as a service override
[Service]
Environment=TRANSMISSION_HOME=/etc/transmission-daemon
User={{ transmission_user | default('debian-transmission') }}
